.imageWrap {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
    margin-top: -230px;
    margin-bottom: calc(var(--uint) * 2);
}

.imageWrap > img {
    width: 100%;
    height: auto;
}

.imageWrap > div {
    max-width: 370px;
    position: absolute;
    bottom: 30%;
    right: 50%;
    width: 100%;
    transform: translateX(50%);
}
.imageWrap > div:first-of-type {
    animation: Fade1 20s linear infinite;
}

.imageWrap > div:last-of-type {
    animation: Fade 20s linear infinite;
}

@keyframes Fade {
    0% {
        bottom: 30%;
        opacity: 1;
    }

    70% {
        bottom: 30%;
        opacity: 1;
    }

    74% {
        bottom: 30%;
        opacity: 0;
    }

    78% {
        bottom: 35%;
        opacity: 0;
    }

    82% {
        bottom: 30%;
        opacity: 1;
    }

    100% {
        bottom: 30%;
        opacity: 1;
    }
}

@keyframes Fade1 {
    0% {
        bottom: 35%;
        opacity: 0;
    }

    70% {
        bottom: 35%;
        opacity: 0;
    }

    74% {
        bottom: 30%;
        opacity: 1;
    }

    78% {
        bottom: 30%;
        opacity: 1;
    }

    82% {
        bottom: 25%;
        opacity: 0;
    }

    100% {
        bottom: 25%;
        opacity: 0;
    }
}
  
@media only screen and (max-width: 600px) {
    .imageWrap > div {
        max-width: 85%;
    }
}

@media only screen and (max-width: 480px) {
    .imageWrap {
        margin-top: -150px;
    }
}

@media only screen and (max-width: 380px) {
    .imageWrap {
        margin-top: -80px;
    }
}