.imageWrap {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
    margin-top: -280px;
    margin-bottom: calc(var(--uint) * 2);
}

.imageWrap > img {
    width: 100%;
    height: auto;
}

.messages {
    position: absolute;
    bottom: 30%;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    max-width: 380px;
}


@media only screen and (max-width: 600px) {
    .messages {
        bottom: 30%;
        max-width: 85%;
    }

    .imageWrap {
        margin-top: -200px;
    }
}

@media only screen and (max-width: 420px) {
    .messages {
        bottom: 32%;
        max-width: 85%;
    }

    .imageWrap {
        margin-top: -80px;
    }
}