.root {
    padding: calc(var(--uint) * 10) 0;
    border-radius: 0 0 calc(var(--uint) * 3) calc(var(--uint) * 3);
    border-radius: 16px;
    background: var(--bgPrimary);
    position: relative;
    bottom: calc(var(--uint) * -3);
}

.wrap {
    text-align: center;
}

.description {
    max-width: 570px;
    margin: 0 auto;
    margin-top: calc(var(--uint) * 3);
    margin-bottom: calc(var(--uint) * 5);
}

.stacks {
    margin-bottom: calc(var(--uint) * 5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--uint) * 6);
}

.stack {
    max-width: 160px;
    width: 100%;
}

.stack img {
    width: 96px;
    height: 96px;
}

.stack p {
    margin-top: calc(var(--uint) * 0.5);
}

@media only screen and (max-width: 900px) {
    .stacks {
        gap: calc(var(--uint) * 3);
    }

    .stack {
        max-width: 110px;
    }

    .stack img {
        width: 74px;
        height: 74px;
    }
}

@media only screen and (max-width: 600px) {
    .description {
        margin-bottom: calc(var(--uint) * 3);
    }

    .stacks {
        justify-content: flex-start;
    }

    .stack img {
        width: 62px;
        height: 62px;
    }
}