.root {
    display: flex;
    flex-direction: column;
}

.currencies {
    margin-top: calc(var(--uint) * 5);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(var(--uint) * 2);
    justify-content: space-between;
}

.currencies li {
    text-align: center;
}

.currencies li img {
    width: 96px;
    height: 96px;
}

.currencies li p {
    opacity: 0.4;
    font-size: var(--fsBigSmall);
    font-weight: 500;
}

@media only screen and (max-width: 1200px) {
    .currencies li img {
        width: 76px;
        height: 76px;
    }
}

@media only screen and (max-width: 900px) {
    .currencies {
        order: 0;
        margin-top: 0;
        margin-bottom: calc(var(--uint) * 3);
        justify-content: flex-start;
    }

    .text {
        order: 1;
    }

    .currencies li p {
        display: none;
    }

    .currencies li {
        width: calc(100% / 8 - 14px);
    }

    .currencies li img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .currencies {
        gap: calc(var(--uint) * 1);
    }

    .currencies li {
        max-width: 72px;
        width: calc(100% / 4 - 6px);
    }
}