.root {
    padding-top: 0;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin-bottom: calc(var(--uint) * 4);
}

.content {
    margin-bottom: calc(var(--uint) * 7);
}

.description {
    max-width: 360px;
    margin-bottom: calc(var(--uint) * 4);
}

.badges {
    position: relative;
    margin-bottom: calc(var(--uint) * 1);
}

.badges img {
  border: 4px solid var(--bgPrimary);
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.badge {
    margin-left: calc(var(--uint) * -4);
}

.mobile {
    width: 415px;
    height: 770px;
    margin: 0 calc(var(--uint) * 3);
}

.mobileEmpty {
    width: 415px;
    height: 770px;
    flex-shrink: 0;
}

@media only screen and (max-width: 1200px) {
    .mobile {
        margin-right: calc(var(--uint) * -5);
        margin-left: calc(var(--uint) * 3);
    }
}

@media only screen and (max-width: 900px) {
    .wrap {
        text-align: center;
        flex-direction: column;
    }

    .description {
        max-width: 100%;
    }

    .offer {
        min-width: 100%;
    }

    .mobile {
        margin-top: calc(var(--uint) * 5);
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        max-width: 415px;
        height: auto;
    }

    .mobileEmpty {
        width: 100%;
        height: auto;
        padding-bottom: 200%;
    }
}

@media only screen and (max-width: 600px) {
    .description {
        margin-bottom: calc(var(--uint) * 2);
    }

    .badges img {
        width: 64px;
        height: 64px;
    }
      
    .badge {
        margin-left: calc(var(--uint) * -2);
    }

    .content,
    .title {
        margin-bottom: calc(var(--uint) * 3);
    }
}