.header {
    padding: calc(var(--uint) * 5) 0;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 64px;
    height: 64px;
}

.menu ul {
    display: flex;
    align-items: center;
    column-gap: calc(var(--uint) * 4);
}

.menu ul>li>a:hover {
    color: var(--primary);
}

.buttons {
    display: flex;
    align-items: center;
    gap: calc(var(--uint) * 2);
}

@media only screen and (max-width: 900px) {
    .menu {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 46px;
        height: 46px;
    }

    .buttons {
        gap: calc(var(--uint) * 1);
    }
}