.root {
    background-color: var(--bgPrimaryDark);
}

.title {
    text-align: center;
}

.step {
    margin-top: calc(var(--uint) * 5);
    display: flex;
    gap: calc(var(--uint) * 3);
    align-items: center;
}

.stepText {
    width: 50%;
}

.stepExample {
    padding: 0 calc(var(--uint) * 10);
    height: 490px;
    width: 50%;
    border-radius: calc(var(--uint) * 5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.code {
    width: 100%;
    font-size: var(--body1);
    background: var(--bgCode);
    color: var(--textSecondary);
    border-radius: calc(var(--uint) * 2);
    padding: calc(var(--uint) * 2);
}

.code p:not(:last-of-type) {
    margin-bottom: calc(var(--uint) * 1);
}

.codeBlue {
    color: var(--codeBlue);
}

.codeYellow {
    color: var(--codeYellow);
}

.codeRed {
    color: var(--codeRed);
}

.example1 {
    background: var(--gradientStep1);
}

.example2 {
    background: var(--gradientStep2);
}

.example3 {
    background: var(--gradientStep3);
}

.stepNumber {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    background-color: var(--bgSecondary);
    color: var(--textSecondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--uint) * 2);
}

.stepTitle,
.stepDescription {
    margin-bottom: calc(var(--uint) * 2);
}

.stepList li:not(:last-of-type) {
    margin-bottom: calc(var(--uint) * 1);
}

.stepList li span {
    color: var(--primary);
}

.list li::before {
    content: "• ";
    color: var(--primary);
}

.rigthBlock {
    padding-left: calc(var(--uint) * 7);
}

.message {
    width: 100%;
    font-size: var(--body1);
    word-wrap: break-word;
}

.messageText {
    background: var(--white);
    color: var(--black);
    padding: calc(var(--uint) * 1) calc(var(--uint) * 2);
    border-radius: calc(var(--uint) * 2) calc(var(--uint) * 2) calc(var(--uint) * 1) calc(var(--uint) * 1);
}

.messageButton {
    margin-top: calc(var(--uint) * 0.5);
    text-align: center;
    background-color: var(--stepButton);
    color: var(--textSecondary);
    padding: calc(var(--uint) * 2)  calc(var(--uint) * 3);
    border-radius: calc(var(--uint) * 1) calc(var(--uint) * 1)  calc(var(--uint) * 2) calc(var(--uint) * 2);
}

.messageDate {
    margin-top: calc(var(--uint) * 0.5);
    text-align: right;
    opacity: 0.4;
    font-size: var(--body2);
}

@media only screen and (max-width: 900px) {
    .step {
        flex-wrap: wrap;
    }

    .rigthBlock {
        padding-left: 0;
    }

    .stepExample {
        order: 0;
        height: 370px;
        padding: 0 calc(var(--uint) * 8);
        width: 100%;
    }

    .stepText {
        width: 100%;
    }

    .stepNumber {
        width: 46px;
        height: 46px;
    }

    .stepText {
        display: flex;
        column-gap: calc(var(--uint) * 2);
    }

    .stepText {
        order: 1;
    }
}

@media only screen and (max-width: 600px) {
    .step {
        margin-top: calc(var(--uint) * 3);
    }

    .stepNumber {
        width: 36px;
        height: 36px;
    }

    .stepExample {
        height: 280px;
        padding: 0 calc(var(--uint) * 3);
    }    
}

[data-theme='dark'] .stepNumber {
    background-color: var(--textSecondary);
    color: var(--bgSecondary);
}