.root {
    background-color: var(--bgSecondary);
    color: var(--textSecondary);
}

.root h2 {
    color: var(--white);
}

.sliderWrap {
    display: flex;
}

.navigation {
    margin-left: calc(var(--uint) * 8);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--uint);
}

.counter {
    font-size: var(--fsBigSmall);
}

.bullets {
    display: flex;
    flex-direction: column;
    gap: var(--uint);
}

.bullets li button {
   border: 0;
   outline: none;
   cursor: pointer;
   display: block;
   width: 4px;
   height: 100px;
   background: var(--white);
   opacity: 0.4;
   border-radius: calc(var(--uint) * 0.5);
   transition: 0.25s opacity ease, 0.25s background ease;
}

.bullets li button:hover {
    opacity: 1;
    background: var(--primary);
 }

.bullets li .active {
    opacity: 1;
    background: var(--primary);
}

.slide {
    display: flex;
    align-items: center;
    column-gap: calc(var(--uint) * 12);
    row-gap: calc(var(--uint) * 4);
}

.slideImage {
    border-radius: calc(var(--uint) * 5);
    position: relative;
    flex-basis: 45%;
    flex-shrink: 0;
    min-width: 440px;
}

.image1 {
    background: var(--gradientCase1);
}

.image2 {
    background: var(--gradientCase2);
}

.image3 {
    background: var(--gradientCase3);
}

.messageWrap {
    padding: calc(var(--uint) * 6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    height: 0;
    position: relative;
    padding-bottom: 100%;
}

.slideText > h2,
.slideText > p {
    margin-bottom: calc(var(--uint) * 3);
}

@media only screen and (max-width: 1200px) {
    .slide {
        column-gap: calc(var(--uint) * 6);
    }

    .navigation {
        margin-left: calc(var(--uint) * 4);
    }
    
}

@media only screen and (max-width: 900px) {
    .slide {
        flex-direction: column;
        align-items: flex-start;
    }

    .wrap {
        padding-bottom: 0;
        min-height: 440px;
    }

    .slideImage {
        flex-basis: 100%;
        flex-shrink: 0;
        min-width: 100%;
    }

    .sliderWrap {
        flex-wrap: wrap;
    }

    .navigation {
        margin-top: calc(var(--uint) * 4);
        margin-left: 0;
        width: 100%;
        flex-direction: row;
    }

    .bullets {
        width: 100%;
        flex-direction: row;
    }

    .bullets li {
        flex-grow: 1;
        width: 100%;
    }

    .bullets li button {
        width: 100%;
        height: 4px;
    }
}

@media only screen and (max-width: 600px) {
    .slideText a {
        width: 100%;
    }

    .wrap {
        min-height: 360px;
    }

    .messageWrap {
        padding: calc(var(--uint) * 4);
    }
}