:root {
    --uint: 8px;

    --white: #FFF;
    --black: #111111;
    --primary: #41A4DF;
    --primaryDark: #297EE2;
    --secondary: #E5F0FC;
    --secondaryDark: #D8E8F2;

    --textHead: #0D0D12;
    --textPrimary: #111111;
    --textSecondary: #FFF;

    --bgPrimary: #FFF;
    --bgPrimaryDark: #F7F9FB;
    --bgSecondary: #232328;
    --bgCode: #0D0D12;

    --select: rgba(0,0,0,0.04);

    --gradient: linear-gradient(233deg, #9FCCFA -20.48%, #0974F1 97.38%);
    --gradientCase1: linear-gradient(340deg, #FAACA8 8.42%, #DDD6F3 91.45%);
    --gradientCase2: linear-gradient(207deg, #FCB69F 6.91%, #FFECD2 92.45%);
    --gradientCase3: linear-gradient(0deg, #C2E9FB -16.6%, #A1C4FD 106.15%);
    --gradientStep1: linear-gradient(297deg, #8EC5FC 8.25%, #E0C3FC 91.76%);
    --gradientStep2: linear-gradient(207deg, #FCB69F 6.91%, #FFECD2 92.45%);
    --gradientStep3: linear-gradient(0deg, #C2E9FB -16.6%, #A1C4FD 106.15%);

    --graidentMessage: linear-gradient(233deg, #9FCCFA -20.48%, #0974F1 97.38%);

    --graientMobileMessage: linear-gradient(98deg, #E8F2F9 15.04%, #E8F2F9 52.22%, #E9F1FA 90.93%);
    --bgMobileMessageDark: #222222;

    --stepButton: #8198D1;
    --tgButton: rgba(54,136,194,0.8);
    --tgButtonSelect: rgba(24,109,169,0.9);
    --tgButton1: #96ADC6;

    --swap: rgba(255,255,255,0.5);

    --codeBlue: #5DB0E2;
    --codeYellow: #FCEF8F;
    --codeRed: #D46565;

    --fs: 20px;
    --body1: 18px;
    --body2: 14px;
    --caption: 12px;
}

[data-theme='dark']:root {
    --primary: #41A4DF;
    --primaryDark: #297EE2;
    --secondary: #E5F0FC;
    --secondaryDark: #D8E8F2;

    --textHead: #FFF;
    --textPrimary: #FFF;
    --textSecondary: #FFF;

    --select: rgba(255,255,255,0.04);

    --swap: rgba(0,0,0,0.5);

    --bgPrimary: #0D0D12;
    --bgPrimaryDark: #232328;
    --bgSecondary: #232328;
    --bgCode: #0D0D12;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bgPrimary);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: var(--fs);
    font-family: "Inter", sans-serif;
    color: var(--textPrimary);
    line-height: 1.2;
}

#__next {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.15;
    color: var(--textHead);
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    color: var(--primary);
}

h1 {
    font-size: 78px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 42px;
}

h4 {
    font-size: 34px;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 24px;
}

section {
    padding: calc(var(--uint) * 12) 0;
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 34px;
    }

    h5 {
        font-size: 30px;
    }

    h6 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 34px;
    }

    h4 {
        font-size: 30px;
    }

    h5 {
        font-size: 28px;
    }

    h6 {
        font-size: 22px;
    }

    section {
        padding: calc(var(--uint) * 8) 0;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --fs: 18px;
        --body1: 14px;
        --body2: 12px;
    }

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 22px;
    }

    h6 {
        font-size: 18px;
    }

    section {
        padding: calc(var(--uint) * 6) 0;
    }
}