.root {
    display: flex;
    flex-direction: column;
    gap: calc(var(--uint) * 1);
    width: 100%;
}

.wrap {
    position: relative;
}

.icon {
    position: absolute;
    bottom: -28px;
    right: 50%;
    transform: translateX(50%);
}